*{
    padding: 0;
    margin: 0;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 300px;
}
.imagen:hover{
    opacity: 0.5;
    cursor: pointer;
}
